// app global css in SCSS form

.bg-main-background { //main-background-color
  background: $main-background;
}

.auth > .content {
  display: grid;
  grid-template-rows: auto 60px;
}

.normal-shadow {
  box-shadow: 0px 5px 20px rgba(35, 35, 35, 0.05) !important;
}

.border-radius-8 {
  border-radius: 8px;
}

.auth-card {
  margin-top:64px;
}

.tx-soft-black {
  color:$soft-black;
}

.dashboard-background {
  background: #F5F7F8;
}

.tx-main-dark-primary {
  color:$main-dark-primary;
}

.bg-soft-blue {
  background: $soft-blue;
}

.fs-12 {
  font-size: 12px;
}
.tx-softer-brown{
  color:$softer-brown;
}
.bg-softer-brown{
  background: $softer-brown;
}

.my-sticky-header-table {
  thead  tr th{
      background-color:$softer-brown;
  }
  th{
      color: black;
  }
}

.bg-soft-red {
  background:$soft-red;
}

